.about {
    width: 100%;
    background-color: cornflowerblue;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    color: #ffffff;
    gap: clamp(2.5rem, calc(1.62rem + 3.76vw), 5rem);
    align-items: center;
    padding: clamp(2rem, calc(0.239rem + 7.51vw), 7rem) clamp(1.25rem, calc(-0.07rem + 5.63vw), 5rem);

    .leftText {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, calc(0.472rem + 2.25vw), 2.5rem);

        & > p {
            font-weight: 500;
        }
    }
}

.aboutAchievements {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, calc(1.824rem + 0.75vw), 2.5rem);
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column;
    }
}